<?php

/**
 * Shaarli REST API
 *
 * @version 1.1
 *
 * @author: nexen
 *   mail: nexen@openmailbox.org
 *   irc: nexen irc.freenode.net #debian
 *
 * @contributors:
 *   ArthurHoaro (https://github.com/ArthurHoaro)
 *   Oros (https://github.com/Oros42/shaarli-river)
 */

/**
 * Database configuration
 */
define('DB_TYPE', 'mysql'); /* sqlite or mysql */
define('DB_HOST', 'localhost'); // only for mysql
define('DB_NAME', 'shaarli-api'); // only for mysql
define('DB_USER', 'shaarli-api'); // only for mysql
define('DB_PASS', 'shaarli-api'); // only for mysql

// Favicon directory
define('FAVICON_DIRECTORY', __DIR__ . '/favicon/');
define('FAVICON_DEFAULT', 'default.ico');
// Reload favicon each month
define('FAVICON_CACHE_DURATION', 3600*24*30);


// Ne toucher à rien après cette ligne si vous ne savez pas se que vous faite =)


/**
 * Sync configuration
 */

// Synchronisation de la liste des shaarlis avec d'autre shaarli-api ou export au format JSON
function shaarli_api_nodes() {
	return array(
		// Arthur Hoaro
		'https://river.hoa.ro/api/'

		// Nexen
		'https://nexen.netk.fr/shaarli-api/',
	);
}

// Synchronisation de la liste des shaarlis avec des exports OPML
function shaarli_opml_files() {
	return array(
		// Oros OPML
		'https://raw.githubusercontent.com/Oros42/shaarlis_list/master/shaarlis.opml',
		// Ou
		// 'https://ecirtam.net/find_shaarlis/out/shaarlis.opml',

		// shaarli.fr OPML
		'https://shaarlo.fr/opml.php?mod=opml'
	);
}
