<?php

/**
 * Shaarli REST API
 *
 * @version 1.1
 *
 * @author: nexen
 *   mail: nexen@openmailbox.org
 *	 irc: nexen irc.freenode.net #debian
 *
 * @contributors:
 *   ArthurHoaro (https://github.com/ArthurHoaro)
 */

define('DB_HOST', 'localhost');
define('DB_NAME', 'shaarli-api');
define('DB_USER', 'shaarli-api');
define('DB_PASSWD', 'shaarli-api');